@import '../../../styles.scss';

.house-detail {
    position: fixed;
    width: 70vw;
    z-index: 99;
    padding: 48px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: $card-bg;
    border-radius: $border-radius;
    color: $text-color;

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 36px;
        }

        mat-icon {
            font-size: 48px;
            height: 48px;
            width: 48px;
            cursor: pointer;
        }
    }
    
    table {
        margin-top: 32px;
        width: 100%;

        tr {
            td:first-of-type {
                color: $accent-color;
                font-style: italic;
            }

            td {
                padding-bottom: 8px;
            }

            th:first-of-type {
                width: 20%;
            }
        }
    }
}

@media (orientation: portrait) {
    .house-detail {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        padding: 24px;
        box-sizing: border-box;

        div {
            h2 {
                font-size: 24px;
            }
        }

        table {
            tr {
                th:first-of-type {
                    width: 25%;
                }
            }
        }
    }
}