@import '../../../styles.scss';

.house-card {
    padding: 24px;
    background: $card-bg;
    color: $text-color;
    border-radius: $border-radius;
    cursor: pointer;

    h2 {
        margin-bottom: 24px;
    }

    p {
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;

        mat-icon {
            margin-right: 8px;
            font-size: 24px;
            height: 24px;
        }
    }

    p:last-of-type {
        margin-top: 24px;
        font: 14px Roboto 500;
        font-style: italic;
    }
}