@import './colors.scss';
@import './fonts.scss';

$border-radius: 14px;
$text: 18px Roboto;

html, body { 
    height: 100%;
    background: $bg-color;
    overflow-x: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h2 {
    margin: 0;
    color: $accent-color;
    font: 24px GameOfThrones;
    letter-spacing: 1px;
}

h1 {
    margin: 0;
    color: $text-color;
    font: 36px GameOfThrones;
}

p {
    margin: 0;
}

::-webkit-scrollbar {
    background-color: $card-bg;
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: $bg-color;
    border-radius: 10px;
    border: 4px solid $card-bg;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px) brightness(1.5);
}
